<!DOCTYPE html>
<html>
<head>
  <title>Posts List</title>
</head>
<body>
<h1>Posts List</h1>
<ul>
  <% @posts.each do |post| %>
    <li><%= link_to post.title, user_posts_path(@user, post) %></li>
  <% end %>
</ul>
</body>
</html>
