<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>
</head>
<body>
  <h1>User Profile</h1>
  <p><strong>Name:</strong> <%= @user.name %></p>
  <!-- Add more attributes here if needed -->

  <%= link_to 'Back to Users List', users_path %>
</body>
</html>
